# Swift Package Manager
.build/
Packages/
Package.resolved

# Xcode
DerivedData/
*.xcworkspace/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# vscode
.vscode/


# macOS
.DS_Store

# builds
*.app
Focusly.app/
Focusly.dmg
build_app.sh
build_dmg.sh
